<div class="filter-menu">
    <div class="container">
        <div class="filter-content">
            <div class="filter-buttons">
                <button mat-button>Distância</button>
                <button mat-button [matMenuTriggerFor]="menu_esp">Especialidade</button>
                <mat-menu #menu_esp="matMenu">
                    <button mat-menu-item>Trabalhista</button>
                    <button mat-menu-item>Família</button>
                    <button mat-menu-item>Criminal</button>
                </mat-menu>
                <button mat-button>Avaliação</button>
            </div>

            <button class="filter-menu-btn" (click)="showButtons()" mat-icon-button title="Filtrar busca">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
    </div>
</div>
<div class="mapa">
    <div class="map" id="inlog-map"></div>
</div>

<ng-template #templateEscritorio>
    <h1 mat-dialog-title>{{ escritorioSelecionado.razaoSocial }}</h1>
    <div mat-dialog-content>
        <p><strong>Endereço: </strong>{{ escritorioSelecionado.endereco }}</p>
        <div>
            <strong>Especialidades:</strong>
            <ul>
                <li>Civil</li>
                <li>Trabalhista</li>
                <li>Direito do Consumidor</li>
            </ul>
        </div>
    </div>
    <div mat-dialog-actions class="actions-container">
        <button mat-button (click)="fecharModalEscritorio()">Fechar</button>
        <button mat-button color="accent" (click)="abrirModalContatoEscritorio()" cdkFocusInitial>Enviar Mensagem</button>
    </div>
</ng-template>

<ng-template #templateMensagemEscritorio>
    <form (submit)="enviarMensagemEscritorio()">
        <h1 mat-dialog-title>
            <strong>Enviar mensagem para o escritório:</strong>
        </h1>
        <div>
            <span>{{ escritorioSelecionado.razaoSocial }}</span>
        </div>
        <div mat-dialog-content>
            <p><strong>Suas informações pessoais: </strong></p>
            <mat-form-field class="full-width">
                <input matInput name="nome" placeholder="Nome Completo" [(ngModel)]="novaMensagemNome" required>
            </mat-form-field>
                
            <mat-form-field class="full-width">
                <input matInput name="cpf" placeholder="CPF" mask="000.000.000-00" [(ngModel)]="novaMensagemCpf" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput name="contato" placeholder="Telefone de contato" mask="(00) 00000-0000" [(ngModel)]="novaMensagemContato" required>
            </mat-form-field>

            <mat-form-field class="full-width">
                <textarea matInput name="texto" placeholder="Sua mensagem" [(ngModel)]="novaMensagemTexto" required></textarea>
            </mat-form-field>
        </div>
        <div mat-dialog-actions class="actions-container">
            <button mat-button (click)="fecharModalMensagem()">Fechar</button>
            <button mat-button color="accent" type="submit">Enviar Mensagem</button>
        </div>
    </form>
</ng-template>