<div class="filter-menu">
    <div class="container">
        <div class="filter-content">
            <div class="filter-buttons">
                <button mat-button>Distância</button>
                <button mat-button [matMenuTriggerFor]="menu_esp">Especialidade</button>
                <mat-menu #menu_esp="matMenu">
                    <button mat-menu-item>Trabalhista</button>
                    <button mat-menu-item>Família</button>
                    <button mat-menu-item>Criminal</button>
                </mat-menu>
                <button mat-button>Avaliação</button>
            </div>

            <button class="filter-menu-btn" (click)="showButtons()" mat-icon-button title="Filtrar busca">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
    </div>
</div>

    <!--Maps aqui-->
<div class="mapa">
    <div class="map" id="inlog-map" style="height: 450px"></div>
</div>