.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    .toolbar {
        width: 100%;
        padding: 15px 0;

        .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            img.logo {
                width: 120px;
            }

            a {
                font-family: 'Gilroy';
                font-size: 18px;
                color: #4c5a98;
                text-decoration: none;
            }
        }
    }
}

main {
    padding-bottom: 510px;
    background-image: url('./../assets/images/law-bg.jpg');
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;

    h1, h2 {
        text-align: center;
    }

    h1 {
        margin-top: 80px;
    }

    form {
        width: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        mat-form-field {
            width: 90%;
        }
    }
}