<header>
  <div class="toolbar">
    <div class="container">
      <div class="content">
        <img src="assets/images/logo-br.svg" alt="" class="logo">

        <div class="login">
          <a href="#">Entrar</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <h1>Direito do seu jeito.</h1>
    <h2>Encontre seu melhor advogado, rápido e fácil!</h2>

    <div class="search-form">
      <form>
        <mat-form-field>
          <input type="text" name="busca" matInput placeholder="Digite seu endereço">
        </mat-form-field>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>
  </div>
</main>
<router-outlet></router-outlet>