<main>
    <div class="container">
        <h1>Direito do seu jeito.</h1>
        <h2>Encontre seu melhor advogado, rápido e fácil!</h2>

        <div class="search-form">
            <form>
                <mat-form-field>
                    <input type="text" name="busca" matInput [(ngModel)]="address" placeholder="Digite seu endereço">
                </mat-form-field>
                <button mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </div>
    </div>
</main>