
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@import './assets/styles/jurify-app-theme.scss';
@import './assets/styles/spacing-utils.scss';

@include angular-material-theme($jurify-app-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    src: url('/assets/fonts/Gilroy/Gilroy-Medium.otf');
}

h1, h2, h3, h4 {
    font-family: 'Gilroy';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.centered-content {
    max-width: 600px;
    margin: 0 auto;

    img {
        width: 100%;
    }
    
    h2, p {
        text-align: center;
    }
}

mat-dialog-container {
    .actions-container {
        text-align: center;
        width: 100%;
  
        button {
            flex: 1;
        }
    }
}